@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: "Inter", "Arial", "Helvetica", sans-serif;
color: #010101;
background-color: #DFD0D0;
font-size: 1em;
}
.container {
margin: 0 auto;
padding: 0 32px;
}
.main_title {
padding: 18px 0;
}
.flex {
display: flex;
align-items: center;
justify-content: space-between;
}
.list_item {
padding-left: 16px;
}
.main {
display: grid;
grid-template-columns: 3fr 1fr;
height: calc(100vh - 75px);
}
.left_content {
padding-left: 18px;
}
.aside {
background: #F1F1F1;
}
.form_container {
display: flex;
align-items: center;
height: 100vh;
justify-content: center;
}
.full_height {
height: 100%;
}
.header {
background: #D9D9D9;
color: #000;
}
img {
display: block;
max-width: 100%;
height: auto;
}
ul {
list-style: none;
}
a {
color: inherit;
text-decoration: none;
}
.title_form {
font-size: 24px;
margin-bottom: 31px;
}
.form {
padding: 28px 38px;
background: #D9D9D9;
font-weight: 400;
display: flex;
flex-direction: column;
}
label.label_form {
font-size: 18px;
color: #000;
}
input {
padding: 12px;
width: 295px;
margin-top: 9px;
margin-bottom: 18px;
border: none;
}
button[type="submit"] {
background: #000;
color: white;
padding: 9px 18px;
font-size: 18px;
margin-top: 32px;
align-self: flex-end;
cursor: pointer;
}
.menssage {
margin-bottom: 24px;
margin-top: 14px;
}
.text {
color: #010101;
font-size: 18px;
}
.title_text {
font-size: 20px;
}
.date {
margin-left: 29px;
display: inline-block;
}